@use '../utils/variables' as *;
@use '../utils/mixins' as *;


*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.6;
  font-size: $font-size-base;
  line-height: $line-height;
  color: $gray-900;
  background: $light;
}

h1, h2, h3, h4 {
  margin-bottom: $spacing-unit;
  font-weight: 700;
  line-height: 1.2;
  font-weight: 600;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }

p {
  margin-bottom: $spacing-unit;
}
