    <!-- FOOTER -->
    <footer class="footer">
      <div class="container">
        <div class="footer__line">
          <!-- ESQUERDA: REDES SOCIAIS -->
          <div class="footer__left">
            <div class="footer__social">
              <a href="#" class="footer__social-link" aria-label="Facebook"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a href="#" class="footer__social-link" aria-label="YouTube"
                ><i class="fab fa-youtube"></i
              ></a>
              <a href="#" class="footer__social-link" aria-label="Instagram"
                ><i class="fab fa-instagram"></i
              ></a>
              <a href="#" class="footer__social-link" aria-label="TikTok"
                ><i class="fab fa-tiktok"></i
              ></a>
              <a href="#" class="footer__social-link" aria-label="Pinterest"
                ><i class="fab fa-pinterest"></i
              ></a>
              <a href="#" class="footer__social-link" aria-label="X"
                ><i class="fab fa-x-twitter"></i
              ></a>
              <a href="#" class="footer__social-link" aria-label="LinkedIn"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>

          <!-- CENTRO: COPYRIGHT -->
          <div class="footer__center" class="footer__copyright">
            © 2025 Complexo Desportivo -> DECIFER
          </div>

            <!-- DIREITA: LINKS -->

            <div class="footer__right">
              <div class="footer__links">
                <a href="#">Política de Privacidade</a>
                <a href="#">Termos de Uso</a>
                <a href="#">Contato</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
