{% extends "base.html" %} {% block content %}
<div class="container mt-4">
  <h3>Registar Presença</h3>

  <form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
      {{ form.turma_id.label }} {{ form.turma_id(class="form-select") }}
    </div>

    <div class="mb-3">
      {{ form.aluno_id.label }} {{ form.aluno_id(class="form-select") }}
    </div>

    <div class="form-check mb-3">
      {{ form.presente(class="form-check-input") }} {{
      form.presente.label(class="form-check-label") }}
    </div>

    {{ form.submit(class="btn btn-primary") }}
  </form>
</div>
{% endblock %}
